<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mixturados</title>
    <link href="~/Images/logoMix16.ico" rel="shortcut icon" type="image/x-icon" />

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript" src="/Scripts/jquery-1.11.2.min.js"></script>
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="~/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/Scripts/jquery-mask.js"></script>

    <!--DATATABLES-->
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .dropdown-menu {
            background-color: #0083c1;
            color: #0c0d24;
        }

        .dropdown .dropdown-menu {
            display: none;
        }

        /*.dropdown > a,
        .dropdown > a:hover,
        .dropdown > a:focus {
            color: #0083C1;
            background-color: #0C0D24;
        }*/

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        /*.dropdown:hover > a,
        .dropdown:hover > a:hover,
        .dropdown:hover > a:focus {
            color: #0C0D24;
            background-color: #0083C1;
        }*/
        .barra {
            background-color: #0C0D24;
        }

        #MenuLogged > ul > li.dropdown.open > ul > li > a {
            background-color: #0083C1;
            color: #0C0D24;
        }

            #MenuLogged > ul > li.dropdown.open > ul > li > a:hover {
                background-color: #0C0D24;
                color: #0083C1;
            }

        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background-color: #0083C1;
            color: #0C0D24;
        }


        #MenuLogged > ul > li.dropdown.open > ul {
            background-color: #0083C1;
            color: #0C0D24;
        }

        #MenuLogged > ul > li > a:hover {
            background-color: #0083C1;
            color: #0C0D24;
        }

        #MenuLogged > ul > li > a:focus {
            background-color: #0083C1;
            color: #0C0D24;
        }

        .navbar-toggle {
            border-color: white;
            background-color: blue;
        }

            .navbar-toggle .icon-bar {
                background-color: white;
            }

        a {
            color: #0083C1;
        }

        .form-login {
            background-color: #EDEDED;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 15px;
            border-color: #d2d2d2;
            border-width: 5px;
            box-shadow: 0 1px 0 #cfcfcf;
        }

        h4 {
            border: 0 solid #fff;
            border-bottom-width: 1px;
            padding-bottom: 10px;
            text-align: center;
        }

        .form-control {
            border-radius: 10px;
        }

        .navbar {
            position: relative;
        }

        /*Rodape*/
        footer {
            padding: 25px 0;
            text-align: center;
            background-color: #0C0D24;
            left: 0;
            bottom: 0;
            width: 100%;
        }

            footer a {
                color: white;
            }

            footer span.copyright {
                text-transform: uppercase;
                text-transform: none;
                font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
                line-height: 40px;
                color: white;
            }

            footer ul.quicklinks {
                margin-bottom: 0;
                text-transform: uppercase;
                text-transform: none;
                font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
                line-height: 40px;
            }

        /*.wrapper {
            min-height: 100%;
            position: relative;
        }*/

        .login-dialog {
            background: white;
            border: 1px solid #222A3F;
            color: #222222;
        }

            .login-dialog .ui-widget-header {
                background: #222A3F;
                border: 0;
                color: #fff;
                font-weight: normal;
            }

        .header-wrap {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }
    </style>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
</head>
<body>
    <div class="wrapper">
        <header class="navbar navbar-fixed-top barra header-wrap">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a class="navbar-brand" href="#">Brand</a>*@
                    <a href="/home/index">
                        <img class="navbar-brand" src="~/Images/LogoCabecalho.png" style="padding: 5px 5px;" /></a>

                </div>

                <!-- Menu jogador deslogado -->
                <div class="collapse navbar-collapse invisible" id="MenuLogged">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Index">Home</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.container-fluid -->
        </header>
        <div id="cont" class="container" style="width: 100%;">
            <div style="margin-bottom: 230px; margin-top: 25px;">
                <img class="navbar-brand" src="~/Images/LogoPrincipal.png" style="height: 220px; padding: 0px; margin-left: 35%" />
            </div>
            <div class="certo">
                @RenderBody()
            </div>
        </div>
        <div id="spot-im-root"></div>
        <script type="text/javascript">!function (t, o, p) { function e() { var t = o.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = ("https:" == o.location.protocol ? "https" : "http") + ":" + p, o.body.appendChild(t) } t.spotId = "73cf9cb1d9eac9a78bb5bd40f7ef16c2", t.spotName = "", t.allowDesktop = !0, t.allowMobile = !1, t.containerId = "spot-im-root", e() }(window.SPOTIM = {}, document, "//v1.spot.im/embed/scripts/launcher.js");</script>
        <footer id="foot" class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fb-like" data-href="https://www.facebook.com/mixturadoslol" data-layout="standard" show_faces="false" data-action="like" colorscheme="dark" data-share="true"></div>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="http://twitter.com/mixturadoslol"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/mixturadoslol"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://www.twitch.tv/mixturadoslol"><i class="fa fa-twitch"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCMhzAKhQ_cpBA_DtZIj5l0Q"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <a href="https://docs.google.com/forms/d/12bz_3v09T3PtE5HhDay8DI44sYWKMPUlFhdl_7r8eq4/viewform" style="color: #f8e700; margin-right: 3px;">Trabalhe Conosco</a>
                        <a href="/Home/about" style="color: #f8e700;">Sobre</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
